@import "./variables";
@import "./components";

body {
  margin: 0;
  padding: 0;

  #app {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    #lending {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-image: url("./assets/background-left.svg"),
        url("./assets/background-right.svg");
      background-position: left center, right center;
      background-size: 50%, 50%;
      background-repeat: no-repeat;
      background-color: $secondary-color;
      article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #ffffff;
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 999rem;
          width: 4rem;
          height: 4rem;
          background-color: rgba($color: #ffffff, $alpha: 0.2);
        }
        .air-bean {
          font-size: 42px;
          line-height: 52px;
          font-family: Rufina;
          font-style: normal;
          font-weight: bold;
          margin-bottom: 0;
        }
        p {
          font-family: Work Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 9px;
          line-height: 11px;
          letter-spacing: 0.3em;
        }
      }
    }
    #about {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-image: url("./assets/aboutTop.svg"),
        url("./assets/aboutButtom.svg");
      background-position: top center, bottom center;
      background-size: cover cover;
      background-repeat: no-repeat;
      background-color: $primary-color;
      .aboutText {
        margin: 4rem 0 0 0;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .title {
        margin-bottom: 1.2rem;
      }

      .intro {
        font-weight: 800;
      }
      .center {
        margin-top: 1.2rem;
      }
      .bottom {
        margin-top: 1.2rem;
      }
      #imgEva {
        margin-top: 1rem;
        border-radius: 9999rem;
      }
      .btn-wrapper {
        position: relative;

        #menu-btn {
          position: absolute;
          top: -10px;
          left: -180px;
          z-index: 100;
          width: 3rem;
          height: 3rem;
          background: rgba(255, 255, 255, 0.897);
          border-radius: 999rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          cursor: pointer;
          @include easeOut;
          .btn-line {
            height: 2px;
            width: 30px;
            margin: 0 0 5px 0;
            background: #000;
            border-radius: 25%;
          }

          :nth-child(3).btn-line {
            height: 2px;
            width: 30px;
            margin: 0 0 0 0;
            background: #000;
            border-radius: 25%;
          }
          // Rotate Into X with Menu line
          &.close {
            transform: rotate(180deg);
            .btn-line {
              // line 1 Rotate
              &:nth-child(1) {
                transform: rotate(45deg) translate(4.6px, 5px);
                background-color: black;
              }
              // line 2 Hide
              &:nth-child(2) {
                opacity: 0;
              }

              // line 3 Rotate
              &:nth-child(3) {
                transform: rotate(-45deg) translate(5.5px, -6px);
                background-color: black;
              }
            }
          }
        }
        #menu {
          position: absolute;
          top: -75px;
          left: -210px;
          width: 400px;
          height: 700px;
          background: rgba($color: #000000, $alpha: 0.9);
          color: white;
          transition: background 1s ease-in-out;
        }
      }
    }
    #menu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      background-image: url("./assets/aboutTop.svg"),
        url("./assets/aboutButtom.svg");
      background-position: top center, bottom center;
      background-size: cover cover;
      background-repeat: no-repeat;
      background-color: $primary-color;

      .menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        .title {
          margin: 0 auto 2rem;
        }
      }

      .btn-wrapper {
        position: relative;

        #menu {
          position: absolute;
          top: -100px;
          left: -25px;
          width: 400px;
          height: 600px;
          background: rgba($color: #000000, $alpha: 0.9);
          color: white;
          transition: background 1s ease-in-out;
        }
        #menu-btn {
          position: absolute;
          top: -80px;
          z-index: 10;
          width: 3rem;
          height: 3rem;
          background: rgba(255, 255, 255, 0.897);
          border-radius: 999rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          cursor: pointer;
          @include easeOut;
          .btn-line {
            height: 2px;
            width: 30px;
            margin: 0 0 5px 0;
            background: #000;
            border-radius: 25%;
          }

          :nth-child(3).btn-line {
            height: 2px;
            width: 30px;
            margin: 0 0 0 0;
            background: #000;
            border-radius: 25%;
          }
          // Rotate Into X with Menu line
          &.close {
            transform: rotate(180deg);
            .btn-line {
              // line 1 Rotate
              &:nth-child(1) {
                transform: rotate(45deg) translate(4.6px, 5px);
                background-color: black;
              }
              // line 2 Hide
              &:nth-child(2) {
                opacity: 0;
              }

              // line 3 Rotate
              &:nth-child(3) {
                transform: rotate(-45deg) translate(5.5px, -6px);
                background-color: black;
              }
            }
          }
        }
      }
    }
    #orderStatus {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background: #e5674e;
      .order-number {
        color: #ffffff;
        .orderNr {
          font-size: large;
          font-weight: 600;
        }
      }
      #msg {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        color: #ffffff;
      }
      #time {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 120%;
        color: #ffffff;
      }
    }

    #profile {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-image: url("./assets/aboutTop.svg"),
        url("./assets/aboutButtom.svg");
      background-position: top center, bottom center;
      background-size: cover cover;
      background-repeat: no-repeat;
      background-color: $thirdly-color;
      color: #2f2926;
      margin: auto;
      .btn-wrapper {
        position: relative;

        #menu {
          position: absolute;
          top: 50px;
          left: -200px;
          width: 400px;
          height: 600px;
          background: rgba($color: black, $alpha: 0.9);
          color: white;
          transition: background 1s ease-in-out;
        }
        #menu-btn {
          position: absolute;
          top: 0px;
          left: -180px;
          z-index: 10;
          width: 3rem;
          height: 3rem;
          background: rgba(255, 255, 255, 0.897);
          border-radius: 999rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          cursor: pointer;
          @include easeOut;
          .btn-line {
            height: 2px;
            width: 30px;
            margin: 0 0 5px 0;
            background: #000;
            border-radius: 25%;
          }

          :nth-child(3).btn-line {
            height: 2px;
            width: 30px;
            margin: 0 0 0 0;
            background: #000;
            border-radius: 25%;
          }
          // Rotate Into X with Menu line
          &.close {
            transform: rotate(180deg);
            .btn-line {
              // line 1 Rotate
              &:nth-child(1) {
                transform: rotate(45deg) translate(4.6px, 5px);
                background-color: black;
              }
              // line 2 Hide
              &:nth-child(2) {
                opacity: 0;
              }

              // line 3 Rotate
              &:nth-child(3) {
                transform: rotate(-45deg) translate(5.5px, -6px);
                background-color: black;
              }
            }
          }
        }
      }
      .profile-wrapper {
        height: 75%;
        width: 80%;

        #info-profile {
          color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .img-profile {
            margin-bottom: 2rem;
          }
          .name {
            font-family: PT Serif;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
          }
          .email {
            font-family: Work Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 120%;
          }
        }
        .title-history {
          margin-top: 4rem;
          margin-bottom: 1.2rem;
          font-family: PT Serif;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 120%;
          color: #ffffff;
        }
        .history {
          width: auto;
          height: 50%;
          overflow: auto;
          .history-profile:last-child {
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
          }
          .history-profile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: rgba(255, 255, 255, 0.5);

            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
            padding-bottom: 0.7rem;

            .order-nr {
              height: 10px;
              padding: 6px;
              margin: 0;
              color: #fff;
            }
            .order-date {
              text-align: end;
              height: 10px;
              padding: 6px;
              margin: 0;
            }
            .partial {
              height: 10px;
              padding: 6px;
              margin: 0;
            }
            .total-amount {
              text-align: end;
              height: 10px;
              padding: 6px;
              margin: 0;
            }
          }
        }
        .total {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
        }

        .btn-wrapper {
          position: absolute;
          z-index: 100;

          #menu {
            position: absolute;
            z-index: 100;
            top: -250px;
            left: -200px;
            width: 400px;
            height: 600px;
            background: rgba($color: #000000, $alpha: 0.9);
            color: white;
            transition: background 1s ease-in-out;
          }
          #menu-btn {
            position: absolute;
            top: -300px;
            left: -190px;
            width: 3rem;
            height: 3rem;
            background: rgba(255, 255, 255, 0.897);
            border-radius: 999rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            @include easeOut;
            .btn-line {
              height: 2px;
              width: 30px;
              margin: 0 0 5px 0;
              background: #000;
              border-radius: 25%;
            }

            :nth-child(3).btn-line {
              height: 2px;
              width: 30px;
              margin: 0 0 0 0;
              background: #000;
              border-radius: 25%;
            }
            // Rotate Into X with Menu line
            &.close {
              transform: rotate(180deg);
              .btn-line {
                // line 1 Rotate
                &:nth-child(1) {
                  transform: rotate(45deg) translate(4.6px, 5px);
                  background-color: black;
                }
                // line 2 Hide
                &:nth-child(2) {
                  opacity: 0;
                }

                // line 3 Rotate
                &:nth-child(3) {
                  transform: rotate(-45deg) translate(5.5px, -6px);
                  background-color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}
